<section class="bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <h1 class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white">Post List
    </h1>

    <p class="mt-4 text-center text-gray-500 dark:text-gray-300">
      Manage All Your Post At Our Mee Blog Dashboard
    </p>

    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">

      <div *ngFor="let post of postList; let i = index" class="overflow-hidden bg-cover bg-center rounded-lg cursor-pointer h-96 group"
           style="background-image:url({{post.data.postImgPath}})">
        <div
          class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100">
          <h2 class="mt-4 text-2xl font-semibold text-white capitalize">{{post.data.title}}</h2>
          <p class="mt-2 text-lg tracking-wider text-white uppercase ">{{post.data.category.category}} |  Views: {{post.data.views}}</p>
          <p class="mt-2 text-lg tracking-wider text-blue-200 uppercase ">{{post.data.createdAt.toMillis() | date}}</p>
          <p class="mt-2 text-lg tracking-wider uppercase ">
            <a routerLink="/posts/new" [queryParams]="{id: post.id}" class="text-green-500 font-extrabold">Edit</a>
            <a (click)="onDelete(post.data.postImgPath, post.id)" class="text-red-500 mx-2 font-extrabold">Delete</a>
          </p>

          <p class="mt-4 text-lg tracking-wider uppercase ">
            <a *ngIf="!post.data.isFeatured" (click)="onFeatured(post.id, true)" class="bg-orange-500 text-white font-bold px-3 py-1.5 rounded">Mark Featured</a>
            <a *ngIf="post.data.isFeatured" (click)="onFeatured(post.id, false)" class="bg-pink-500 text-white font-bold px-3 py-1.5 rounded">Remove Featured</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
<div class="fixed bottom-12 right-12">
  <button routerLink="/posts/new" class="bg-green-600 rounded px-3 py-1.5 hover:bg-green-800">New Post</button>
</div>
